* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

input::-webkit-input-placeholder {
	color: black;
}

input:-moz-placeholder {
	color: black;
}

input::-moz-placeholder {
	color: black;
}

input:-ms-input-placeholder {
	color: black;
}
